.main_wrappr2 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
}
.min {
  font-size: 1.2rem;
}
.progrs_clm {
  flex: 4;
  background-color: #e4e4e4;
}
.progrs_clm h2 {
  text-align: center;
  color: #585a5c;
}
.small_clm2 {
  background-color: #b0b5b7;
  flex: 1;
}
.select_focus select {
  font-size: 1.2rem;
  font-weight: 900;
  color: #353b48;
  background-color: #f5f6fa;
}
.select_focus select:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.select_focus {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apointment_div {
  display: flex;
  justify-content: start;
  align-items: end;
  color: #585a5c;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3px;
  word-spacing: 1px;
  margin-top: 0rem;
}
.apointment_div2 {
  color: #585a5c;
  font-size: 5rem;
  margin-left: 5px;
  font-weight: 500;
  letter-spacing: 3px;
  word-spacing: 1px;
  margin-top: 0rem;
}
.img-box {
  display: flex;
  justify-content: center;
}
.incVal {
  font-weight: 400;
  font-size: 3.2rem;
  margin-left: 8px;
}
.klar-img2 {
  width: 30%;
  height: auto;
  width: calc(100% - 60%);
}
.touch_ {
  font-size: 1.5rem;
  color: grey;
  font-weight: 900;
  margin-top: 10px;
}
.option-div {
  width: 15rem !important;
  height: 4rem;
}

@media (max-width: 575.98px) {
  .main_wrappr2 {
    flex-direction: column;
    
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .option-div {
    width: 10rem !important;
    height: 2.5rem;
  }
  .select_focus select {
    font-size: 1.2rem;
  }
  .progrs_clm {
    padding-top: 5rem;
  }
  .apointment_div {
    font-size: 2rem;
  }
  .apointment_div2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .progrs_clm {
    padding-top: 7rem;
  }
  .klar-img2 {
    width: calc(100% - 60%);
  }
  .apointment_div {
    font-size: 2.8rem;
  }
  .apointment_div2 {
    font-size: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .progrs_clm {
    padding-top: 3rem;
  }
  .klar-img2 {
    width: calc(100% - 60%);
  }
  .apointment_div {
    font-size: 3rem;
  }
  .apointment_div2 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .option-div {
    height: 4.5rem;
  }
  .select_focus select {
    font-size: 2.5rem;
  }
  .progrs_clm {
    padding-top: 3rem;
  }
  .klar-img2 {
    width: calc(100% - 60%);
  }
  .apointment_div {
    font-size: 3rem;
  }
  .apointment_div2 {
    font-size: 4rem;
  }
  .touch_ {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .klar-img2 {
    width: calc(100% - 40%);
  }
  .progrs_clm {
    padding-top: 2.5rem;
  }
}
@media only screen and (min-width: 1800px) {
  .klar-img2 {
    width: 100%;
    height: auto;
  }
  .touch_ {
    font-size: 2rem;
  }
  .main_wrappr2 {
    height: auto;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .main_wrappr2 {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .apointment_div {
    font-size: 5rem;
  }
  .progrs_clm {
    padding-top: 7rem;
  }

  .klar-img2 {
    width: calc(100% - 40%);
  }
  .touch_ {
    font-size: 3rem;
  }
  .apointment_div2 {
    font-size: 5.5rem;
  }
  .option-div {
    height: 6rem;
  }
  .select_focus select {
    font-size: 3rem;
  }
  .min {
    font-size: 2rem;
  }
  .progrs_clm {
    padding-top: 2rem;
  }
}

