*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
@media (max-width:576px) { 
    html{
        font-size: 9px;
    }
 }
 @media (min-width:768px) { 
    html{
        font-size: 9px;
    }
     }
     @media (min-width:992px) { 
        html{
            font-size: 15px;
        }
         }
         @media (min-width:1024px) { 
            html{
                font-size: 14px;
            }
             }
         @media (min-width:1200px) { 
            html{
                font-size: 12px;
            }
        }
            @media (min-width:1400px) { 
                html{
                    font-size: 16px;
                }
             }
             @media (min-width:1800px) { 
                html{
                    font-size: 37px;
                }
                 }