* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@media (max-width: 575.98px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 25px;
  }
}
