@font-face {
 font-family: fontsName;
 src: url(../src/assets/gif.otf);
}
* {
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family: "Raleway", sans-serif;
}
.text_inst {
   
    color: #585A5C;
}
.select_focus select {
    font-size: 2rem;
    color: #353b48;
}
.time_d {
 font-family: fontsName;
}
.incVal {
 font-family: fontsName;
}
.apointment_div {
 color: #585A5C;
}
#progressbar {
 width: 100%;
 top: 0;
 background-color: green;
 position: absolute;
}
.range .field input::-moz-range-progress {
 background-color: green;
}

.progressiv_div {
 padding: 2rem 2rem 0rem 2rem ;
}
.boxtText {
 background-color: #585A5C;
 text-align: center;
 margin: 5px 0px;
 padding: 5px;
 font-family: fontsName;
}
.boxtText p {
 font-size: 14px;
}
.cardsItems {
 margin-top: 2rem;
}
.option-div {
 width: 30%;
 height: 4rem;
}
.select_focus {
 margin-top: 3rem;
 display: flex;
 justify-content: center;
 align-items: center;
}
.select_focus[type] {
 font-size: 3rem;
}
.select_focus:focus {
 outline: none !important;
 box-shadow: none !important;
}
.seleced {
 width: 150px;

 height: 30px;
 border: none;
 outline: none;
 border-radius: 5px;
 margin-top: 20px;
}

.sliderPara_div {
 width: 100%;
 height: 200px;
 overflow-y: scroll;
}

.blue_btn {
 background-color: #585A5C;
 color: white;
}
.blue_btn:hover {
 background-color: #2e86de;
 color: white;
 transform: scale(1.1);
}
.blue_btn:focus {
 outline: none;
 box-shadow: none !important;
}
.colDiv6 {
 background-color: #e4e4e4;
 display: flex;
 justify-content: center;
 align-items: center;
}
.colDiv7 {
 background-color: #e4e4e4;
 display: flex;
 justify-content: center;
 align-items: center;
}
.colDiv3 {
 background-color: #B0B5b7;
 color: white;
 height: auto;
 padding: 10px;
 height: 100vh;
}
.colDiv5 {
 background-color: #B0B5b7;
 color: white;
 height: auto;
 padding: 10px;
 height: 100vh;
}
.colDiv4 {
 background-color: #B0B5b7;
 color: white;
 padding: 10px;
}
.form__div {
 margin-top: 10rem !important;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 3rem;
}
.main_input {
 outline: none;
 background-color: white;
 height: 60px;
 border-radius: 10px;
}
.main_input2 {
    outline: none;
    background-color: white;
    height: 60px;
   
   }
.main_input:focus {
 border: none;
 outline: none;
 box-shadow: none;
}
.main_input2:focus {
    border: none;
    outline: none;
    box-shadow: none;
   }
.sc-iCfMLu {
 display: none !important;
}
.sc-bdvvtL {
 display: none !important;
}
.form_main {
 width: 450px;
 border-radius: 10px;
}
.img_btn {
 width: 200px;
 background-color: none;
 border: none;
}

.box_div {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 90px;
 width: 90px;
 color: #fff;
 border-radius: 5px;
 margin: 0 5px;
 font-size: 1em;
 cursor: pointer;
 object-fit: cover;
}
.countDown_div {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0px;
 width: 100%;
 height: 410px;
 background-color: black;
 color: white;
 font-size: 10rem;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.countDown_div > h1 {
 font-size: 12rem !important;
}
.scrolldiv {
 width: 100%;
 height: 100%;
}
.encounter_container {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.encounter_div {
 display: flex;
 align-items: center;
 justify-content: center;
 align-content: space-between;
 flex-direction: column;

 width: 400px;
 height: 200;
 background: #B0B5b7;
}
.continue {
 background-color: #585A5C;
 margin: 20px 0px;
}
.encounter__div {
 background-color:#e4e4e4;
 width: 100vw;
 height: 350px;
 padding: 6px 0px;
 border-radius: 0px;
 border: none;
 
}
.encounter__div2 {
 display: flex;
 justify-content: center;
 align-items: center;

 flex-direction: column;
 background-color: white;
 width: 600px;
 height: 400px;
 padding: 6px 0px;
 border-radius: 5px;
 border: none;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.encounter-row {
 display: flex;
 justify-content: center;
 align-content: space-between;
 flex-direction: column;
}
.cont_div {
    padding: 15px 0px;
 margin: 0px 0px;
 background-color: #585A5C;
 text-align: center;
 color: white;
}
.cont_div2 {
    padding: 10px 0px;
 margin-top: 10rem;
 background-color: #585A5C;
 text-align: center;
 color: white;
}
.arrow_icon {
 font-size: 4rem;
}
/* .input_d{
    width: 500px !important;
} */
.inst_container {
 background-color: #e4e4e4;
 padding: 2rem 0rem;
 
 
}
@media (max-width: 576px) {
    .select_focus select {
        font-size: 1.5rem;
        color: #353b48;
    }
    .progressiv_div {
        padding: 2rem 2rem 1rem 2rem ;
       }
 .touch_ {
  font-size: 1.5rem !important;
 }
 /*.img_btn{
        margin-top: 0rem!important;
        width: 150px;
    } */
 .option-div {
  width: 50%;
  height: 3rem;
 }
 /* .progressiv_div {
  padding: 3rem 1rem !important;
 } */
 .form__div {
  margin-top: 30px !important;
 }
 .form_main {
  width: 250px;
 }
 .countDown_div > h1 {
  font-size: 6rem !important;
 }
 .smallSlider {
  margin: 10px 0px;
 }
 .emptyBox {
  display: none !important;
 }
 .encounter__div {
  height: 100%;
 }
 .cont_div2 {
  margin-top: 7rem;
  padding: 5px 0px;
 }
 .cont_div {
    
    padding: 5px 0px;
   }
 .input_d {
  width: 200px !important;
 }
 .colDiv3 {
  height: 250px;
 }
 .colDiv5 {
  height: 400px;
 }
 .text_inst {
  font-size: 1rem;
  color: #585A5C;
 }
 .inst_container {
  width: 100vw;
  padding: 1rem 1rem;
 }
 .main_input {
  height: 40px;
 }
 .progressiv_div {
  padding: 2rem 2rem 0rem 2rem !important;
 }
}
@media (max-width: 768px) {
 .box_div {
  width: 70px;
  height: 70px;
 }
 .boxtText {
  background-color: #585A5C;
  text-align: center;
  margin: 4px 0px;
  padding: 5px;
 }
 .countDown_div {
  height: 250px;
  font-size: 5rem !important;
 }
 .time_d {
  font-size: 1.7rem;
 }
 .data_d {
  font-size: 1rem;
 }
 .emptyBox1 {
  display: none !important;
 }
}
@media (max-width: 1199.98px) {
 .progressiv_div {
  padding: 8rem 1rem 0rem 1rem !important;
 }
}
