@font-face {
  font-family: fontsName;
  src: url(../../assets/gif.otf);
}
:root {
  --lightedGrey: #b4b4b4;
  --lightGrey: #b0b5b7;
  --darkGrey: #585a5c;
}
:focus {
  outline: none;
}

/* .topCaro{
  height: 25vh;
}
.thrapy{
  height: 25vh;
} */
.select_wrappr {
  width: auto;
  height: 100vh;
  display: flex;
}
.select_clm {
  background-color: var(--lightGrey);
  flex: 1;
}
.select_big_clm {
  flex: 4;
}
.countDown_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fontsName;

  width: 100%;
  font-weight: 900;
  background-color: black;
  color: white;
  font-size: 10rem;
}
.box_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  aspect-ratio: 1/1;
  color: #fff;

  margin: 0 5px;
  font-size: 1em;
  cursor: pointer;
  object-fit: cover;
}
.select-img {
  width: 11rem;
}
.boxtText {
  background-color: var(--darkGrey);
  color: white;
  text-align: center;
  margin: 5px 5px !important;
  padding: 5px;
  font-family: fontsName;
}
.boxtText h1 {
  font-size: calc(2.4rem + 1.5vw);
}
.boxtText p {
  font-size: 1rem;
}
.init {
  overflow: auto;
  height: 100px;
}
.init::-webkit-scrollbar {
  display: none;
}

.lRight_icon {
  font-size: 4rem;
  color: #bf9200;
}

/* Mobile screen */

.mobile_wrapper {
  display: flex;
  align-items: center;
  background-color: var(--darkGrey);
  color: white;
  
}

._DT {
  flex: 1;
  border-right: 1px solid white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._CT {
  flex: 1;

  border-right: 1px solid white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._K {
  flex: 1;
}
.time_d {
  font-size: 5rem !important;
}
.data_d {
  font-size: 1.8rem !important;
}
.bg-Clr {
  background-color: var(--lightGrey);
  height: 100vh;
}
.locl-data {
  display: flex;
  
  background-color: var(--lightGrey);
  color: white;
}
._LD1 {
  flex: 1;
  border-right: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
._LD2 {
  flex: 1;

  border-right: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
._LD3 {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.drag_wrapper {
  
  display: flex;
  background-color: var(--darkGrey);
}

.part_drag0 {
  flex: 1;
  height: 70px;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
}
.part_drag {
  flex: 1;
  height: 70px;
  color: white !important;
  display: flex;
  justify-content: center;
}
.fPDpuU {
  margin: 0px 5px !important;
}
/* @media (min-width: 576px) {
  .select_wrappr {
    overflow: hidden;
  }
} */
@media (max-width: 575.98px) {
  
  .countdTime {
    font-size: 5rem;
    text-align: center;
  }
  
  .select-img {
    width: 18rem;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .countdTime {
    font-size: calc(13rem + 9vw) !important;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .countdTime {
    font-size: calc(20rem + 2vw) !important;
    text-align: center;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .countdTime {
    font-size: calc(18rem + 2vw) !important;
    text-align: center;
  }
  .boxtText {
    margin: 15px 5px !important;
    padding: 0px 5px 25px 5px !important;
  }
  .paraTexts {
    font-size: 1.2rem !important;
  }
  .init {
    overflow: auto;
    height: 190px;
  }
}
@media (min-width: 1200px) {
  .countdTime {
    font-size: calc(14rem + 2vw) !important;
    text-align: center;
  }
  .box_div {
    width: 20rem;
  }
  .select-img {
    width: 9rem;
  }
  .boxtText {
    margin: 5px 5px !important;
    padding: 0px 5px 5px 5px !important;
  }
  .paraTexts {
    font-size: 1rem !important;
  }
  .init {
    overflow: auto;
    height: 90px;
  }
}
@media (min-width: 1800px) {
  .countdTime {
    font-size: calc(20rem + 2vw) !important;
    text-align: center;
  }
  .boxtText {
    margin: 20px 5px !important;
    padding: 30px 5px !important;
  }
  .paraTexts {
    font-size: 1.5rem !important;
  }
  .init {
    overflow: auto;
    height: 300px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .select_wrappr {
    flex-direction: row;
    overflow: scroll;
  }
  .select-img {
    width: calc(100% - 65%);
  }
  .paraTexts {
    font-size: 2rem !important;
  }
  .boxtText h1 {
    font-size: 4rem;
  }
  .boxtText p {
    font-size: 2rem;
  }
  
  
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 2560px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .select_wrappr {
      
      height:auto;
     
    }
    .countdTime {
      font-size: calc(14rem + 2vw) !important;
      text-align: center;
    }
}