@font-face {
  font-family: fontsName;
  src: url(../../assets/gif.otf);
}
:root {
  --lightedGrey: #e4e4e4;
  --lightGrey: #b0b5b7;
  --darkGrey: #585a5c;
}
:focus {
  outline: none;
}
.allEmptyBox{
  display: flex;
  flex: evenly;

  justify-content: center;
  align-items: center;
  aspect-ratio: 1/0.7;
  width: 6rem;
  border: 2px solid #002628;
  color: #fff;
  gap: 5px;
  font-size: 12px;
  border-radius: 7px;
  object-fit: cover;
}
.MM-wrapper{
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
}
.paraTexts {
  font-size: 1rem;
}
/* .sideCards{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.boxtTextS{
  text-align: center;
  padding: 10px;
  background-color: grey;
  margin-top: 5px;
  height: 8rem;
} */


._adjust {
  display: flex;
  width: auto;
  height: 100vh;
  flex-direction: column;
}
._adjust {
  flex: 1;
}
.countDown_div {
  flex: 3;
}
.thrapy {
  flex: 2;
}
.main_wrappr2 {
  font-size: 3rem;
}
.select_wrappr {
  width: auto;
  height: 100vh;
  display: flex;
}
.select_clm {
  background-color: var(--lightGrey);
  flex: 1;
}
.select_big_clm {
  flex: 4;
}
.countDown_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fontsName;

  width: 100%;
  font-weight: 900;
  background-color: black;
  color: white;
  font-size: 10rem;
}
.box_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  aspect-ratio: 1/1;
  color: #fff;

  margin: 0 5px;
  font-size: 1em;
  cursor: pointer;
  object-fit: cover;
}
.select-img {
  width: 11rem;
}
.boxtText {
  background-color: var(--darkGrey);
  color: white;
  text-align: center;
  margin: 5px 5px !important;
  padding: 5px;
  font-family: fontsName;
}
.boxtText h1 {
  font-size: calc(2.4rem + 1.5vw);
}
.boxtText p {
  font-size: 1rem;
}
.scrolldiv {
  overflow: auto;
  height:16rem;
}
.scrolldiv::-webkit-scrollbar {
  display: none;
}

.lRight_icon {
  font-size: 4rem;
  color: #bf9200;
}

/* Mobile screen */

.mobile_wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: var(--darkGrey);
  color: white;
}
.detailCards{
  flex: 1;
}
.-Crousl_D{
  flex: 1;
}
.drag_wrapper{
  flex: 1;
}
._DT {
  flex: 1;
  border-right: 1px solid white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._CT {
  flex: 1;

  border-right: 1px solid white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._K {
  flex: 1;
}
.time_d {
  font-size: 4rem !important;
}
.data_d {
  font-size: 1.8rem !important;
}
.bg-Clr {
  background-color: var(--lightGrey);
  height: 100vh;
}
.locl-data {
  display: flex;
  background-color: var(--lightGrey);
  color: white;
}
._LD1 {
  flex: 1;
  border-right: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
._LD2 {
  flex: 1;

  border-right: 1px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
._LD3 {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.drag_wrapper {
  flex: 1;
  display: flex;
  background-color: var(--darkGrey);
}

.part_drag0 {
  flex: 1;
  height: 70px;
  border-right: 1px solid white;
  display: flex;
  justify-content: center;
}
.part_drag {
  flex: 1;
  height: 70px;
  color: white !important;
  display: flex;
  justify-content: center;
}
.fPDpuU {
  margin: 0px 5px !important;
}
/* @media (min-width: 576px) {
  .select_wrappr {
    overflow: hidden;
  }
} */
@media (max-width: 575.98px) {
  
  .countdTime {
    font-size: 5rem;
    text-align: center;
  }
  .select_wrappr {
    flex-direction: column;
    overflow: auto;
    display: none;
  }
  .select-img {
    width: 18rem;
  }
  .scrolldiv {
    height: auto !important;
  }
}
@media (min-width: 576px) {
  .countdTime {
    font-size: calc(13rem + 9vw) !important;
    text-align: center;
  }
  .scrolldiv {
    height: 10rem;
  }
}
@media (min-width: 768px) {
  .countdTime {
    font-size: calc(20rem + 2vw) !important;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .countdTime {
    font-size: calc(18rem + 2vw) !important;
    text-align: center;
  }
  .boxtText {
    margin: 15px 5px !important;
    padding: 0px 5px 25px 5px !important;
  }

  
}
@media (min-width: 1200px) {
  .countdTime {
    font-size: calc(14rem + 2vw) !important;
    text-align: center;
  }
  .box_div {
    width: 20rem;
  }
  .select-img {
    width: 9rem;
  }
  .boxtText {
    margin: 5px 5px !important;
    padding: 0px 5px 0px 5px !important;
  }
  .scrolldiv {
    height: 10rem;
  }
  
}
@media (min-width: 1440px) {
  .scrolldiv {
    height: 15rem;
  }
}
@media (min-width: 1800px) {
  .countdTime {
    font-size: calc(20rem + 2vw) !important;
    text-align: center;
  }
  .boxtText {
    margin: 20px 5px !important;
    padding: 30px 5px !important;
  }

  
}
@media only screen and (min-device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  /* .select_wrappr {
    flex-direction: column;
  } */
  .MM-wrapper {
    overflow: hidden;
    display: block;
  }
  .select-img {
    width: calc(100% - 65%);
  }

  .boxtText h1 {
    font-size: 4rem;
  }
  .boxtText p {
    font-size: 2rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .countdTime {
    font-size: calc(15rem + 2vw) !important;
  }
}
