:root {
  --lightedClr: #e4e4e4;
  --lightGrey: #b0b5b7;
  --darkGrey: #585a5c;
}
.box_wrappr {
  width: auto;
  height: 100vh;
  display: flex;
}
.small_box {
  background-color: var(--lightGrey);
  flex: 1;
  border-right: 0.2px solid var(--lightedClr);
}
.small_box1 {
  background-color: var(--lightGrey);
  flex: 1;
  border-left: 0.2px solid var(--lightedClr);
}
.big_box {
  flex: 4;
  background-color: var(--lightGrey);
}
.main_box {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

._FB {
  flex: 2;
  background-color: var(--lightedClr);
}
._SB {
  flex: 5;
  background-color: var(--lightedClr);
  color: var(--darkGrey);
}
.img-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top_arrow1 {
  font-size: 2.4rem;
  margin-left: 2rem;
}
.top_arrow {
  font-size: 2.4rem;
}
.drag-tile {
  flex: 1;

  text-align: center;
  padding-top: 2rem;
}
.drag-tile2 {
  flex: 3;
}

._TB {
  flex: 2;
  background-color: var(--lightGrey);
}
.box-img {
  width: 15rem;
}
.time_line {
  padding: 10px;
  font-size: 2rem !important;
  position: relative;
  bottom: 9%;
}

@media (max-width: 576px) {
  .box_wrappr {
    flex-direction: column;
  }
  .big_box {
    flex: 1;
  }
  ._FB {
    flex: 0;
  }
  ._SB {
    flex: 5;
  }
  ._TB {
    display: none;
  }
}
